@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Orbitron&display=swap');

body {
   margin:0;
   padding:0;
   background-color: cornflowerblue;
   color: white;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Caveat', cursive;
   font-size: 28px;
}

#game {
   background-color: black;
   

}